* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body, html {
    overflow-x: hidden;
}

.active {
    border-left: 2px solid rgb(232, 175, 175);
    border-right: 2px solid rgb(232, 175, 175);
    padding-left: 7px;
    padding-right: 7px;
}

/* Nav Bar */
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}
.nav-links {
   display: flex;
   align-items: center; 
   font-size: 1.2rem;
}

.nav-links li{
    margin: 0 30px;
}

.navpages {
    color: whitesmoke
}

header {
    width: 100vw;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1589939705384-5185137a7f0f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y29uc3RydWN0aW9uJTIwd29ya2Vyc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    
}
.oplayer {
    background-color: rgba(3, 7, 12, 0.468);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header-content {
    margin-bottom: 150px;
    color: rgb(254, 254, 254);
    text-align: center;
    z-index: 1;
}

.header-content h2{
    font-size: 4vmin;
}
.line {
    width: 150px;
    height: 4px;
    background: #5d8c91;
    margin: 10px auto;
    border-radius: 5px;
}

.header-content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}

.ctn {
    padding: 8px 15px;
    background: #5d8c91;
    border-radius: 30px;
    color: whitesmoke;

}

.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}


/* Our Work Preview */
section {
    width: 65%;
    margin: 80px auto;
}

.title-ourwork {
    text-align: center;
    font-size: 4vmin;
    color: #49497e;
}
.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.row .col img{
    width: 400px;
    height: 300px;
}
.row .col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ourwork-preview .row {
    margin-top: 50px;
}

h4 {
    font-size: 3vmin;
    color: #49497e;
    margin: 20px auto;
}
p {
    color: #707071; 
    padding: 0px 40px;
}

.ourwork-preview .ctn {
    margin-top: 30px;
}








/* Mobile Device*/
@media only screen and (max-width:1000px){
    .menu-btn {
        display: block;
        z-index: 3;
       
    }
    .header-content {
        z-index: 1;
        
        
    }
    .navbar {
        padding: 0;
        
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
        z-index: 5;

    }
    
    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: rgb(74, 86, 101);
        margin-top: -900px;
        transition: all 1s ease;
        z-index: 3;
        font-size: 1.4rem;
        
    }
    .mobile-menu {
        margin-top: 0px;
        border-bottom-right-radius: 30%;

    }
    .nav-links li{
        margin: 30px auto;
        
    }
    .header-content h2{
        font-size: 4vmin;
    }
    .header-content h1{
        font-size: 6.5vmin;
    }

    .row {
        flex-direction: column;
    }

    .row .col {
        margin: 20px auto;
    }
    .col img {
        max-width: 90%;
    }
    .row .col img{
        height: 320px;
    }
    h4 {
        font-size: 5vmin;
        color: #49497e;
        margin: 20px auto;
    }

    section h1 {
        font-size: 8vmin;
    }

     .ctn {
        font-size: 1.4rem;
    }
    section p {
        font-size: 1.1rem;
    }
    
  
}


@media only screen and (max-width:450px){
    .row .col {
        margin: 20px auto;
    }
    
    .row .col img{
        height: 220px;
        width: 400px;
    }
}
